In [ ]:
#### **Warm-Up: Basic Operations**
# 1. **Lists:**

In [20]:
lst = list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
print(lst[0])
print(lst[-1])
lst.reverse()
print(lst)

1
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 2. **Dictionaries:**

In [22]:
square_numbers = {1:1,2:4,3:9,4:16,5:25}

In [23]:
print(square_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
square_numbers[6] = 36

In [25]:
print(square_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [30]:
if square_numbers.get(4,"Not Found") != "Not Found":
    print("Found")

Found

In [ ]:
#### **Problem-Solving: Real-World Scenarios**
# 1. **Student Grades:**

In [19]:
student_grades = {"Ahmed":[90,95,89,99],"Mohamed":[85,90,88,95],"Esraa":[95,96,90,98],"Asmaa":[96,92,91,95]}
average_list = []
student_average = {}
for name,grades in student_grades.items():
    avg,sum_grades = 0,0
    for grade in grades:
        sum_grades += grade
    avg = sum_grades/len(grades)
    average_list.append(avg)
    student_average[name] = avg
    print(f"The average grade for student {name} is {avg}")

The average grade for student Ahmed is 93.25
The average grade for student Mohamed is 89.5
The average grade for student Esraa is 94.75
The average grade for student Asmaa is 93.5

In [20]:
print(average_list)
average_list.sort()
print(average_list)

[93.25, 89.5, 94.75, 93.5]
[89.5, 93.25, 93.5, 94.75]

In [21]:
student_average

{'Ahmed': 93.25, 'Mohamed': 89.5, 'Esraa': 94.75, 'Asmaa': 93.5}

In [22]:
highest_average = average_list[-1]
print(highest_average)
student_with_highest_average = [key for key,value in student_average.items() if value == highest_average]
print(student_with_highest_average[0])

94.75
Esraa

In [23]:
print(f" the student with the highest average {highest_average} is {student_with_highest_average[0]}")

 the student with the highest average 94.75 is Esraa

In [ ]:
# 2. **Shopping Cart:**

In [72]:
shopping_cart = {"apples":60,"bananas":40,"chocolate":40,"vegtables":200}
shopping_cart["toys"] = 160
print(shopping_cart)

{'apples': 60, 'bananas': 40, 'chocolate': 40, 'vegtables': 200, 'toys': 160}

In [189]:
sum_price = 0
for price in shopping_cart.values():
    sum_price += price
print(f"the total price is {sum_price}")

the total price is 500

In [ ]:
# 3. **Employee Database:**

In [78]:
employee_1 = {"name":"Ahmed","age":30,"department":"HR"}
employee_2 = {"name":"Ali","age":32,"department":"IT"}
employee_3 = {"name":"Zena","age":29,"department":"IT"}
employee_4 = {"name":"Asmaa","age":40,"department":"marketing"}
employee_5 = {"name":"Mohamed","age":35,"department":"HR"}

employees = [employee_1,employee_2,employee_3,employee_4,employee_5]
print(employees)

[{'name': 'Ahmed', 'age': 30, 'department': 'HR'}, {'name': 'Ali', 'age': 32, 'department': 'IT'}, {'name': 'Zena', 'age': 29, 'department': 'IT'}, {'name': 'Asmaa', 'age': 40, 'department': 'marketing'}, {'name': 'Mohamed', 'age': 35, 'department': 'HR'}]

In [80]:
for employee in employees:
    for key,value in employee.items():
        if value == "IT":
            print(employee["name"])

Ali
Zena

In [95]:
age_sum = 0
for employee in employees:
    age_sum += employee["age"]
age_avg = age_sum / len(employees) 
print(f"the average age for the employees is {age_avg}")

the average age for the employees is 33.2

In [ ]:
#### **Challenge Section**
# 1. **Word Frequency Counter:**

In [15]:
def word_frequency_counter(text):
    '''a function that, given a string/text, counts the frequency of each word'''
    word_dict = {}
    words = text.lower().split()
    for word in words:
        if word in word_dict:
            word_dict[word] += 1
        else:
            word_dict[word] = 1
    return word_dict

In [18]:
word_frequency_counter("Hello! hello! , my name is Maya Maya")

{'hello!': 2, ',': 1, 'my': 1, 'name': 1, 'is': 1, 'maya': 2}

In [ ]:
# 2. **Inventory Management:**

In [121]:
def update(inventory,item,quantity_sold):
    '''a function that Updates the inventory after a sale.'''
    if item in inventory:
        if inventory[item]["quantity"] >= quantity_sold:
            inventory[item]["quantity"] -= quantity_sold
            total_price = quantity_sold * inventory[item]["price"]
            print(f"Sold {quantity_sold} {item} for ${total_price}")
            print(f'Available: {inventory[item]["quantity"]}')

        else:
            print(f"Not enough {item} in stock. Available: {inventory[item]['quantity']}")
        
    else:
        print(f"{item} does not exist in inventory.")

In [133]:
def restock_item(inventory,item,quantity_stock):
    '''a function that restocks an item in the inventory.'''
    if item in inventory:
        inventory[item]["quantity"] += quantity_stock
        print(f'Available: {inventory[item]["quantity"]}')
    else:
        print(f"{item} product does not exist in inventory.")

In [134]:
inventory_system = {
    "Apples": {"price": 30, "quantity": 50},
    "Bananas": {"price": 20, "quantity": 100},
    "Cherries": {"price": 50, "quantity": 75},
}
update(inventory_system,"Apples",20)

Sold 20 Apples for $600
Available: 30

In [135]:
restock_item(inventory_system,"Apples",20)

Available: 50

In [136]:
restock_item(inventory_system,"oranges",20)

oranges product does not exist in inventory.

In [ ]:
# 3. **Nested Data Manipulation:**

In [137]:
def add_book(library,book,genre):
    '''a function that adds a book to a specific genre in the library.'''
    if genre in library:
        library[genre].append(book)
    else:
        library[genre] = [book]
    return library

In [149]:
def list_book(library,genre):
    '''a function that lists all books in a specified genre.'''
    if genre in library:
        return library[genre]
    else:
        return "genre not found"

In [150]:
library = {"Science Fiction": ["book 1", "book 2", "book 3"],
    "Fantasy": ["book 4", "book 5", "book 6"],
    "Mystery": ["book 7", "book 8", "book 9"],
    "Non-Fiction": ["book 10", "book 11", "book 12"]
}

In [151]:
add_book(library,"book 13","Romance")

{'Science Fiction': ['book 1', 'book 2', 'book 3'],
 'Fantasy': ['book 4', 'book 5', 'book 6'],
 'Mystery': ['book 7', 'book 8', 'book 9'],
 'Non-Fiction': ['book 10', 'book 11', 'book 12'],
 'Romance': ['book 13']}

In [152]:
list_book(library,"Fantasy")

['book 4', 'book 5', 'book 6']

In [ ]:
# 4. **Anagram Checker:**

In [10]:
def char_frequency_counter(word):
    '''a function that, given a word, counts the frequency of each character'''
    word_dict = {}
    for char in word:
        if char in word_dict:
            word_dict[char] += 1
        else:
            word_dict[char] = 1
    return word_dict

In [11]:
def anagram(word1,word2):
    '''a function that checks if two words are anagrams of each other''' 
    return char_frequency_counter(word1) == char_frequency_counter(word2)

In [12]:
anagram("kdsl","lsdk")

True

In [ ]:
# 5. **Two-Sum Problem:**

In [176]:
def two_sum(lst, target):
    '''a function that finds two indices in the list such that the numbers at those indices add up to the target.'''
    two_sum_dict = {}
    for i in range(len(lst)):
        num = lst[i]
        complement = target - num
        if complement in two_sum_dict:
            return [two_sum_dict[complement], i]
        two_sum_dict[num] = i
    return []

In [178]:
two_sum([3,7,2,6,5],9)

[1, 2]